main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(62 83 201/ 0.2);
    padding: 1rem;
    background-color: rgb(222, 222, 222);
    color: rgb(14, 5, 5);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: #000;
    padding: 2px;
    box-shadow: none;
}

p {
    padding: 0;
}

footer {
    margin-top: 16px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: aliceblue;
    padding: 1px;
}

nav a {
    color: black;
    padding: 1px;
    display: block;
}

h1 {
    padding: 2px;
    color: #000;
}